[Unit]
Description=Install workstation user fonts
Documentation=https://github.com/marcortola/workstation-os-image
ConditionPathExists=!%h/.local/share/fonts/.workstation-fonts-installed

[Service]
Type=oneshot
ExecStart=/usr/bin/workstation-install-microsoft-fonts --accept-microsoft-eula

[Install]
WantedBy=default.target
